.select-field {
  width: 100% !important;
  padding: 15px 8px;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  height: auto !important;
  color: #212529 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  cursor: pointer;
  margin-top: .4rem;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}