.welcome-box-main-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100000;
  top: 0;
  background-color: rgba(26, 26, 26, 0.458);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-welcome-message {
  max-width: 550px;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 40px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
  flex-direction: column;
}

.main-welcome-message > h2 {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.main-welcome-message > p {
  font-weight: 300;
  line-height: 22px;
  font-size: .9rem;
  margin-top: 10px;
}

.button-container-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.light-button-gray {
  border: none;
  transition: .3s;
  background-color: transparent;
  padding: 10px 25px;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  border-radius: 3px !important;
  font-weight: lighter;
  gap: 10px;
  background-color: var(--primary);
  color: var(--lightColor);
  
}

.light-button-gray:hover {
  background-color: var(--primaryHover);
}

.text-button-pop-location {
  background-color: transparent;
  border: none;
  margin-top: 15px;
  text-decoration: underline;
  color: var(--lightTextColor);

}

.loading-window {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(10, 10, 10, 0.804);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  flex-direction: column;
  gap: 10px;
}

.loading-window > h1 {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;

}

.loading-window > .loader-spin {
  border: 3px solid #fff !important;
  border-bottom-color: transparent !important;
}

.map-box-container {
  max-width: 550px;
  width: 100%;
  height: 300px;
}

.remove-padding {
  padding: 0 !important;
  margin: none !important;
}

.map-region-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 30px;
}

.map-region-area > h3 {
  font-weight: 400;
  font-size: 1.4rem;
}

.map-region-area > p {
  font-weight: 300;
  font-size: .9rem;
  line-height: 22px;
}

.user-changes-location-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-changes-location-form > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.user-changes-location-form > div > label {
  font-size: .9rem;
}

.user-changes-location-form > div > select {
  padding: 10px;
}