.trending-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

.flex-with-space-between-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}